{% trans_default_domain 'FOSUserBundle' %}
<div class="container" style="min-height:300px;">
<div class="row" style="margin-top:10%;">
        <div class="col-md-8 col-md-push-2 col-lg-6 col-lg-push-3  large-popup-content">
            <div class="row">
				<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="form-block fos_user_resetting_request">
					<div class="col-md-12 col-lg-12">
					    <div class="form-group fl_icon">
					        <label for="username">{{ 'resetting.request.username'|trans }}</label>
					        <input type="text" class="form-control" id="username" name="username" required="required" />
					    </div>
					</div>
				    <div class="col-md-12 col-lg-12 for-signin">
					    <div class="form-group fl_icon">
				        	<input type="submit" value="{{ 'resetting.request.submit'|trans }}" class="btn btn-success" />
				    	</div>
				    </div>
				</form>
			</div>
		</div>
	</div>
</div>