{% extends "::layout.html.twig" %}

{% block body %}
<div class="container" style="min-height:300px;">
	<div class="row" style="margin-top:10%;">
        <div class="col-md-8 col-md-push-2 col-lg-6 col-lg-push-3  large-popup-content">
            <div class="row">
				{% include "FOSUserBundle:Resetting:reset_content.html.twig" %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
