{% extends "::layout.html.twig" %}

{% block title %}
    Accueil admin - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block body %}
    <div class="custom-container gallery-container">
        <div class="container">
            <div class="gallery-box-2 col-lg-6">
                <div class="gallery-info">
                    <h3>{{ 'administration.administrative_pages'|trans() }}</h3>
                    <p>{{ 'administration.page.subtitle'|trans() }}</p>
                </div>
                <div class="gallery-btn">
                    <a class="btn-login btn color-1 size-2 hover-2" href="{{ path('admin_page_index') }}">
                        {{ 'administration.button.to_access'|trans() }}
                    </a>
                </div>
            </div>
            <div class="gallery-box-2 col-lg-6">
                <div class="gallery-info">
                    <h3>{{ 'global.privacy_policy'|trans() }}</h3>
                </div>
                <div class="gallery-btn">
                    <a class="btn-login btn color-1 size-2 hover-2" href="{{ path('admin_privacy_policy_edit') }}">
                        {{ 'administration.button.to_access'|trans() }}
                    </a>
                </div>
            </div>
            <div class="gallery-box-2 col-lg-6">
                <div class="gallery-info">
                    <h3>{{ 'global.disclaimer'|trans() }}</h3>
                </div>
                <div class="gallery-btn">
                    <a class="btn-login btn color-1 size-2 hover-2" href="{{ path('admin_disclaimer_edit') }}">
                        {{ 'administration.button.to_access'|trans() }}
                    </a>
                </div>
            </div>
                    <div class="gallery-box-2 col-lg-6">
                <div class="gallery-info">
                    <h3>{{ 'administration.roles.title'|trans() }}</h3>
                </div>
                <div class="gallery-btn">
                    <a class="btn-login btn color-1 size-2 hover-2" href="{{ path('admin_roles_management') }}">
                        {{ 'administration.button.to_access'|trans() }}
                    </a>
                </div>
            </div>

        </div>
    </div>
{% endblock %}