<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ 'text_about'|trans() }}">
        <meta name="author" content="Fadyl BELLO">
        <meta name="keyword" content="Wemanity">
        <link rel="icon" type="image/png" href="{{ asset('favicon.ico') }}">

        <title>{% block title %}{{ 'global.website_name'|trans() }}{% endblock %}</title>

        {% block stylesheets %}
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">
            <link rel="stylesheet" href="{{ asset('themeforest/style/bootstrap.min.css')}}">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="{{ asset('themeforest/style/icon.css')}}">
            <link rel="stylesheet" href="{{ asset('themeforest/style/loader.css')}}">
            <link rel="stylesheet" href="{{ asset('themeforest/style/idangerous.swiper.css')}}">
            <link rel="stylesheet" href="{{ asset('themeforest/style/jquery-ui.css')}}">
            <link rel="stylesheet" href="{{ asset('themeforest/style/stylesheet.css')}}">

            <!--[if lt IE 10]>
            <link rel="stylesheet" type="text/css" href="{{ asset('themeforeststyle/ie-9.css')}}"/>
            <![endif]-->
            <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
            <![endif]-->
        {% endblock %}
    </head>
    <body>
        <div class="be-loader">
            <div class="spinner">
                <img src="{{ asset('themeforest/img/img-logo.png') }}" height="80px" alt="">
                <p class="circle">
                    <span class="ouro">
                        <span class="left"><span class="anim"></span></span>
                        <span class="right"><span class="anim"></span></span>
                    </span>
                </p>
            </div>
        </div>
        <!-- THE HEADER -->
        <header>
            <div class="container-fluid custom-container">
                <div class="row no_row row-header">
                    <div class="brand-be">
                        <a href="{{ path('wemanity_homepage') }}">
                            WEMANITY LOGO
                        </a>
                    </div>
                    <div class="header-menu-block">
                        <button class="cmn-toggle-switch cmn-toggle-switch__htx"><span></span></button>
                        <ul class="header-menu" id="one">
                            <li><a href="#">{{ 'wemanity.working'|trans() }}</a></li>
                            <li><a href="#">{{ 'wemanity.about'|trans() }}</a></li>
                            <li><a href="#">{{ 'wemanity.nature'|trans() }}</a></li>
                            <li><a href="#">{{ 'wemanity.team'|trans() }}</a></li>
                        </ul>
                    </div>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") == false %}
                        <div class="login-header-block">
                            <div class="login_block">
                                <a class="btn color-1 size-2 hover-2" href="{{ path('fos_user_security_login') }}"><i class="fa fa-user"></i>
                                    {{ 'global.sign_in'|trans() }}</a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </header>

        <!-- MAIN CONTENT -->
        <!-- PAS PROPRE DU TOUT A MODIFIER SI CA RESTE SUR DU GIT PUBLIC -->
        {% if app.request.attributes.get('_route') == 'fos_user_security_login' or app.request.attributes.get('_route') == 'fos_user_registration_register' %}
            <div id="content-block" style="background-color:#1b212c; margin-bottom: 0px !important"></div>
        {% else %}
            <div id="content-block">
            {% endif %}
            {% block body %}
            {% endblock %}
        </div>

        <!-- THE FOOTER -->
        <footer>
            <div class="footer-main">
                <div class="container-fluid custom-container">
                    <div class="row">
                        <div class="col-md-3 col-xl-4">
                            <div class="footer-block">
                                <h1 class="footer-title">{{ 'about'|trans() }}</h1>
                                <p class="text-justify">{{ 'text_about'|trans() }}</p>
                                <ul class="soc_buttons">
                                    <li><a href="https://facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-xl-2">
                            <div class="footer-block">
                                <h1 class="footer-title">{{ 'some_links'|trans() }}</h1>
                                <div class="row footer-list-footer">
                                    <div class="col-md-6">
                                        <ul class="link-list">
                                            <li><a href="#">{{ 'wemanity.about'|trans() }}</a></li>
                                            <li><a href="#">{{ 'wemanity.help'|trans() }}</a></li>
                                            <li><a href="#">{{ 'wemanity.contact'|trans() }}</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6">
                                        <ul class="link-list">
                                            <li><a href="#">{{ 'wemanity.news'|trans() }}</a></li>
                                            <li><a href="#">{{ 'wemanity.idunna'|trans() }}</a></li>
                                            <li><a href="#">{{ 'wemanity.idunno'|trans() }}</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 galerry">
                            <div class="footer-block">
                                <h1 class="footer-title">{{ 'recent_articles'|trans() }}</h1>
                                {{ render(controller('AdminBundle:Article:layout')) }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="footer-block">
                                <h1 class="footer-title">{{ 'global.language'|trans() }}s</h1>
                                <div class="soc-activity">

                                    <a class="btn color-7 size-2 hover-9" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}">FR</a>
                                    <a class="btn color-7 size-2 hover-9" href=" {{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}">EN</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container-fluid custom-container">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        {% if 'ROLE_SUPER_ADMIN' in app.user.roles %}
                            <div class="col-md-12 btn-row">
                                <a class="btn color-6-5 size-2 hover-5" href="{{ path('home_admin') }}">Administration</a>
                            </div>
                        {% endif %}
                    {% endif %}


                    <div class="col-md-12 footer-end clearfix">
                        <div class="left">
                            <span class="copy">© 2017 {{ 'global.footer'|trans() }}. <span class="white"><a href="/"> Wemanity</a></span></span>
                        </div>
                        <div class="right">
                            <a class="btn color-7 size-2 hover-9" href="#" data-toggle="modal" data-target="#privacyPolicy">{{ 'global.privacy_policy'|trans() }}</a>
                            <a class="btn color-7 size-2 hover-9" data-toggle="modal" data-target="#disclaimer">{{ 'global.disclaimer'|trans() }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>


        {% block javascripts %}
            <script src="{{ asset('themeforest/script/jquery-2.1.4.min.js') }}"></script>
            <script src="{{ asset('themeforest/script/jquery-ui.min.js') }}"></script>
            <script src="{{ asset('themeforest/script/bootstrap.min.js') }}"></script>
            <script src="{{ asset('assets/js//bootbox.min.js') }}"></script>
            <script src="{{ asset('themeforest/script/idangerous.swiper.min.js') }}"></script>
            <script src="{{ asset('themeforest/script/jquery.mixitup.js') }}"></script>
            <script src="{{ asset('themeforest/script/jquery.viewportchecker.min.js') }}"></script>
            <script src="{{ asset('themeforest/script/filters.js') }}"></script>
            <script src="{{ asset('themeforest/script/global.js') }}"></script>


        {% endblock %}
        {{ render(controller('AppBundle:Default:LegalAgreement')) }}
    </body>
</html>
