{% extends "::layout.html.twig" %}

{% block title %}
  	{{ parent() }}
{% endblock %}

{% block stylesheets %}
 	{{ parent() }}
 	<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/datatable.css') }}">
 	<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/datatable.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/dataTables.bootstrap.css') }}">
{% endblock %}


{% block body %}

  {% block au_body %}
  {% endblock %}

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" charset="utf8" src="{{ asset('assets/js/datatable_1.10.13.js') }}"></script>
    <script type="text/javascript" charset="utf8" src="{{ asset('assets/js/dataTable.bootstrap.js') }}"></script>
            <script type="text/javascript">

            $(document).ready( function () {
                $('#pagination').DataTable( {
                    stateSave: true,
                    "language": {
                        "lengthMenu": "{{ 'global.show'|trans() }} _MENU_ {{ 'pagination.per'|trans() }} {{ 'pagination.page'|trans() }}",
                        "zeroRecords": "{{ 'pagination.no_element'|trans() }}",
                        "info": "{{ 'global.show'|trans() }} {{ 'pagination.page'|trans() }} _PAGE_ {{ 'pagination.on'|trans() }} _PAGES_",
                        "infoEmpty": "{{ 'pagination.no_data_received'|trans() }}",
                        "infoFiltered": "({{ 'pagination.filtered_from'|trans() }} _MAX_ {{ 'pagination.total_records'|trans() }})",
                        "search" : "{{ 'pagination.search'|trans() }}",
                        "paginate": {
                            "first":      "{{ 'pagination.first'|trans() }}",
                            "last":       "{{ 'pagination.last'|trans() }}",
                            "next":       "{{ 'pagination.next'|trans() }}",
                            "previous":   "{{ 'pagination.previous'|trans() }}"
                        },
                    }
                });
            } );



            var chemin = window.location.pathname;

            if(chemin.indexOf('/admin/poll/') >=0 ){
                var urlCount =  $('#listlinks_links').attr('href');
                urlCount = urlCount.substr(1);
                $('#listlinks_links').click(function() {
                    var links = $('#links-list');

                    // parcourt le template prototype
                    var newWidget = links.attr('data-prototype');
                    // remplace les "__name__" utilisés dans l'id et le nom du prototype
                    // par un nombre unique pour chaque email
                    // le nom de l'attribut final ressemblera à name="contact[emails][2]"
                    newWidget = newWidget.replace(/__name__/g, urlCount);
                    $(newWidget).addClass('form-control');
                    urlCount++;

                    // créer une nouvelle liste d'éléments et l'ajoute à notre liste
                    var newLi = $('<div class="form-group clearfix"></div>').html(newWidget);
                    //newLi.appendTo($('#contacts-list'));
                    $('#links-list').prepend(newLi);

                    return false;
                });
            }


            function remove_link(id) {
                var div = $('div[name="link_'+id+'"]');
                $(div).remove();
            }

        </script>
{% endblock %}


