	{{ form_start(form, { 'action': path('fos_user_change_password') }) }}
		<div class="input-col col-xs-12 col-sm-4">
            <div class="form-group focus-2">
                <div class="form-label">{{'profile.old_pass'|trans}}</div>
	    			{{ form_widget(form.current_password, { 'attr':  {
                        'class': 'form-input',
                    }}) }}
			</div>                              
        </div>
        <div class="input-col col-xs-12 col-sm-4">
            <div class="form-group focus-2">
                <div class="form-label">{{'profile.new_pass'|trans}}</div>
					{{ form_widget(form.plainPassword.first, { 'attr':  {
                        'class': 'form-input',
                    }}) }}
			</div>                              
        </div>
        <div class="input-col col-xs-12 col-sm-4">
            <div class="form-group focus-2">
                <div class="form-label">{{'profile.repeat_pass'|trans}}</div> 
    				{{ form_widget(form.plainPassword.second, { 'attr':  {
                        'class': 'form-input',
                    }}) }}
    		</div>                              
        </div>
        <div class="col-xs-12">                            
	        <input type="submit" class="btn color-1 size-2 hover-1 btn-right" value="{{ 'profile.change_pass'|trans }}" />
	    </div>
	{{ form_end(form) }}
