<div class="modal fade" id="privacyPolicy" tabindex="-1" role="dialog" aria-labelledby="{{ 'global.privacy_policy'|trans() }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">{{ 'global.privacy_policy'|trans() }}</h4>
            </div>
            <div class="modal-body">
                {{ privacyPolicy|raw }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="disclaimer" tabindex="-1" role="dialog" aria-labelledby="{{ 'global.disclaimer'|trans() }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">{{ 'global.disclaimer'|trans() }}</h4>
            </div>
            <div class="modal-body">
                {{ disclaimer|raw }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>