{% extends "::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
<div class="container" style="min-height:300px;">
	<div class="row text-center" style="margin-top: 10%;">
    	<div class="alert-success" style="padding:2%;">
			<p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
		    {% if targetUrl %}
		    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
		    {% endif %}
		</div>
    </div>
</div>
{% endblock %}
