{% extends "::layout.html.twig" %}

{% block title %}
    {{'global.sign_up'|trans}} - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="block" style="background-color:#1b212c; margin-bottom: 0px !important; color:white;min-height:300px;">
        <br /><br /><br />                           
        <div class="row register-form">
            <div class="col-md-8 col-md-push-2 col-lg-6 col-lg-push-3  large-popup-content">
                <div class="row">
                    <h5 class="large-popup-title" style="padding-left:42px">{{'global.sign_up'|trans}}</h5>  
                    <br />
                    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
                    <div class="col-lg-12">
                        {% if not form.vars.valid %}
                            <div class="alert alert-danger text-center">
                                {{ form_errors(form.email) }}
                                {{ form_errors(form.username) }}
                                {{ form_errors(form.plainPassword.first) }}
                                {{ form_errors(form.plainPassword.second) }}
                            </div>
                        {% endif %}
                        <div class="col-lg-12">
                            <div class="form-group clearfix">
                                <div class="col-lg-4 col-md-4">
                                    {{ form_label(form.email, null, {'label_attr': {'class':'control-label' }}) }}
                                </div>
                                <div class="col-lg-8 col-md-8 noPadLeft">
                                    {{ form_widget(form.email, { 'attr':  {
					                    'class': 'form-control',
                                    }}) }}
                                </div>
                                <div class="row text-center">
                                    <label style="color:red;">{{ form_errors(form.email) }} </label>
                                </div>
                            </div>

                            <div class="form-group clearfix">
                                <div class="col-lg-4 col-md-4">
                                    {{ form_label(form.username, null, {'label_attr': {'class':'control-label' }}) }}
                                </div>
                                <div class="col-lg-8 col-md-8 noPadLeft">
                                    {{ form_widget(form.username, { 'attr':  {
					                    'class': 'form-control',
                                    }}) }}
                                </div> 
                                <div class="row text-center">
                                    <label style="color:red;">{{ form_errors(form.username) }}</label>
                                </div>
                            </div>

                            <div class="form-group clearfix">
                                <div class="col-lg-4 col-md-4">
                                    {{ form_label(form.plainPassword.first, null, {'label_attr': {'class':'control-label' }}) }}
                                </div>
                                <div class="col-lg-8 col-md-8 noPadLeft">
                                    {{ form_widget(form.plainPassword.first, { 'attr':  {
					                    'class': 'form-control',
                                    }}) }}
                                </div> 
                                <div class="row text-center">
                                    <label style="color:red;">{{ form_errors(form.plainPassword.first) }} </label>
                                </div>
                            </div>

                            <div class="form-group clearfix">
                                <div class="col-lg-4 col-md-4">
                                    {{ form_label(form.plainPassword.second, null, {'label_attr': {'class':'control-label' }}) }}
                                </div>
                                <div class="col-lg-8 col-md-8 noPadLeft">
                                    {{ form_widget(form.plainPassword.second, { 'attr':  {
					                    'class': 'form-control',
                                    }}) }}
                                </div> 
                                <div class="row text-center">
                                    <label style="color:red;">{{ form_errors(form.plainPassword.second) }} 
                                    </label>
                                </div>
                            </div>

                            <div class="form-group clearfix">
                                <div class="col-lg-10 col-md-10">
                                    {{ form_label(form.agree, null, {'label_attr': {'class':'control-label' }}) }}
                                </div>
                                <div class="col-lg-2 col-md-2 noPadLeft">
                                    {{ form_widget(form.agree, { 'attr':  {
					                    'class': 'form-control',
                                    }}) }}
                                </div>
                                <div class="row text-center">
                                    <label style="color:red;">{{ form_errors(form.agree) }} </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <br />
                        <div class = "text-center" style="margin-top:10px">
                            {{ 'registration.text'|trans }} : <br /><br /><a class="btn color-7 size-2 hover-9" href="#" data-toggle="modal" data-target="#privacyPolicy" style="margin-right:8px">{{ 'global.privacy_policy'|trans() }}</a> 
                            <a class="btn color-7 size-2 hover-9" data-toggle="modal" data-target="#disclaimer" style="margin-right:8px">{{ 'global.disclaimer'|trans() }}</a><br /><br />
                            <input type="submit" value="{{ 'registration.submit'|trans }}" class="be-popup-sign-button" style="float:none" />
                            <br /><br />
                        </div>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>


{% endblock %}
