{% extends "::layout.html.twig" %}
{% block title %}
{{ parent () }}
{% endblock %}

{% block au_body %}

    <div id="content-block" class="gallery-block">
        <br/>
        <div class="custom-container gallery-container">
            <div class="container">
                {% if app.user %}
                    {% if 'ROLE_SUPER_ADMIN' in app.user.roles %}
                        <a href="{{ path('article_blog_new')}}" class="btn btn-primary"> Nouvel article ! </a>
                    {% endif %}
                {% endif %}
                <div class="Articles">
                    {% for article in articles %}
                        <div class="gallery-box-2 clearfix ">
                            <div class="gallery-info">
                                <h3>
                                    {% if app.request.get('_locale') == 'en' %}
                                        {{ article.nameEn }}
                                    {% else %}
                                        {{ article.name }}
                                    {% endif %}
                                </h3> 

                                <p>
                                    {% if app.request.get('_locale') == 'en' %}
                                        {{ article.textEn|slice(0, 250)|raw }} ...
                                    {% else %}
                                        {{ article.text|slice(0, 250)|raw }} ...
                                    {% endif %}
                                    <br />
                                <div class="text-center" style="margin-top: 5px;">
                                    <a href="{{ path('article_blog_show',{ 'id': article.id }) }}" class="be-popup-sign-button menu-cover" style="float: none; padding: 7px 4px" > {{ 'Read_more'|trans }} </a>
                                </div>
                                </p>

                            </div>
                            <div class="gallery-btn">
                                <span class="color-icon-1"><i class="fa fa-thumbs-o-up"></i> {{article.likers|length}}</span><br />
                                <span class="color-icon-1"><i class="fa fa-eye"></i> {{article.viewers|length}}</span><br />
                                <span class="color-icon-1"><i class="fa fa-comment-o"></i> {{article.comments|length}}</span><br />
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% if articles|length == 24 %}
                    <div class='text-center drm'><a href = '#read_more' onClick='printArticlesUser()' class='btn btn-general read_more'> {{ 'Read_more'|trans}} </a></div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
