<div class="row footer-list-footer">
	<div class="col-md-6">
		<ul class="link-list">
			{% for article in articles %}
			<li>
				<a href="{{ path('article_blog_show',{ 'id': article.id }) }}">
					{% if app.request.get('_locale') == 'en' %}
		                {{ article.nameEn }}
		            {% else %}
		                {{ article.name }}
		            {% endif %}
		         </a>
	         </li>
	         {% endfor %}
	         <li>
	         	<a href="{{ path('article_blog_index') }}"> {{ 'all_articles'|trans}}</a>
	         </li>
		</ul>
	</div>
</div>