{% extends "::layout2.html.twig" %}

{% block body %}
    <div id="content-block">
        <div class="container be-detail-container" style="background-color: white">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="blog-wrapper blog-list">
                        <div class="blog-post be-large-post">
                            <div class="info-block clearfix">
                                <div class="be-large-post-align">
                                    <span><i class="fa fa-thumbs-o-up"></i> <span id="likers">{{article.likers|length}}</span></span> 
                                    <span><i class="fa fa-eye"></i> {{article.viewers|length}}</span>  
                                    {% if app.user %}
                                        {%if app.user in article.likers %}
                                            <label class="be-user-info" style=";color:green;font-size:11px;float:right">
                                                <i class="fa fa-check" aria-hidden="true"></i>
                                                {{'global.already_like'|trans()}}
                                            </label>
                                        {% else %}
                                            <span class="button_like" style="float:right"><button onClick='like("{{article.id}}")' class="btn btn-general">{{ 'global.like'|trans }}</button></span>
                                            {% endif %}

                                    {% endif %}
                                </div>
                            </div>
                            <div class="be-large-post-align">
                                <h3 class="be-post-title">
                                    {% if app.request.get('_locale') == 'en' %}
                                        {{ article.nameEn }}
                                    {% else %}
                                        {{ article.name }}
                                    {% endif %}
                                </h3>

                                <div class="be-text-tags clearfix">
                                    <div class="post-date">
                                        <i class="fa fa-clock-o"></i> {{article.dateOpening|date("m/d/Y", "Europe/Paris")}}
                                    </div>
                                    <div class="author-post">
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>  
                            <div class="post-text">
                            </div>  
                            <div class="blog-content be-large-post-align">
                                <div class="post-text ">
                                    {% if app.request.get('_locale') == 'en' %}
                                        {{ article.textEn|raw }}
                                    {% else %}
                                        {{ article.text|raw }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var url_vote = "{{ path('article_blog_like') }}";
        var already_like = "{{"global.already_like"|trans()}}";
    </script>
    <script src="{{ asset('assets/js/article.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.2.3/jquery-confirm.min.css" />
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/article.css') }}" />
{% endblock %}
