{% extends "::layout.html.twig" %}
{% block title %}
  Administration Page - {{ parent() }}
{% endblock %}

{% form_theme form 'form/fields.html.twig' %}

{% block body %}
    <h1>{{ title }}</h1>

    {{ form_start(form) }}
        {{ form_rest(form)}}
        <div class="text-center">
            <input type="submit" class="btn btn-success" value="Enregistrer" />
            <a href="{{ app.request.headers.get('referer') }}" class="btn btn-danger" />{{ 'global.back'|trans() }}</a>
        </div>
    {{ form_end(form)}}
{% endblock %}
