{% extends "::layout.html.twig" %}

{% block title %}
    {{ 'administration.roles.title'|trans() }} - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block body %}
    <div class="custom-container gallery-container">
        <div class="container">
            <div class="container be-detail-container">
                <div class="block-2">
                    <div class="row">
                        <div class="col-md-4 center-text-align">
                            <span class="back-block">
                                <a class="btn color-1 size-1" href="{{ path('home_admin') }}"><i
                                        class="fa fa-chevron-left"></i>{{ 'administration.reports.button.back_to_home'|trans() }}</a>
                            </span>
                        </div>
                        <div class="col-md-4 ">
                            <h2 class="content-title">{{ 'administration.roles.title'|trans() }}</h2>
                        </div>
                        <div class="col-md-4 "></div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li><a href="{{ path('admin_roles_management') }}">{{ 'administration.roles.onglet_1'|trans() }}</a></li>
                        <li class="active"><a>{{ 'administration.roles.onglet_2'|trans() }}</a></li>
                    </ul>
                    {{ form_start(form) }}
                    <div class="tab-content form-group" style="margin-top: 35px;">
                        <div class="col-md-5">
                            <input type="text" name="roles_management_list_users" id="destinataires" data-role="tagsinput" class="form-input" style="color: black; border: 1px solid black;">
                            <label class="control-label user-empty-label" for="inputError" style="display: none; color: #dd4b39;"><i class="fa fa-times-circle-o"></i> {{ 'message.nouser'|trans }}</label>
                        </div>
                        <div class="form-group col-md-7">
                            <select name="roles_management_add_role" class="form-input" style="color: black; border: 1px solid black;">
                                <option value="ROLE_ADMIN_REPORT">ROLE_ADMIN_REPORT</option>
                                <option value="ROLE_ADMIN_SHOP">ROLE_ADMIN_SHOP</option>
                                <option value="ROLE_SUPER_ADMIN">ROLE_SUPER_ADMIN</option>
                                <option value="ROLE_MODERATEUR_REPORT">ROLE_MODERATEUR_REPORT</option>
                                <option value="ROLE_MODERATEUR_SHOP">ROLE_MODERATEUR_SHOP</option>
                                <option value="ROLE_SUPER_MODERATEUR">ROLE_SUPER_MODERATEUR</option>
                            </select>
                        </div>
                        <div class="col-md-12 center-text-align">
                            <input type="submit" value="{{ 'administration.reports.button.confirm'|trans() }}" class="btn btn-success size-2 margin send-report-message"/>
                        </div>
                    </div>
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" charset="utf8" src="{{ asset('assets/js/jquery.tagsinput.js') }}"></script>
    <script type="text/javascript">
        var locale = "{{ app.request.locale }}";
        var default_text = "{{ 'global.username'|trans() }}"
        $(document).ready(function () {
            $('#destinataires').tagsInput({
                width: '100%',
                defaultText: default_text,
                autocomplete_url: Routing.generate('admin_roles_management_autocomplete_user', {_locale: locale}),
                autocomplete: {
                    source: function (request, response) {
                        $('.user-empty-label').hide();
                        // Saisie 3 caractère au minimum
                        if (request.term != null && request.term != "" && request.term.length > 2) {
                            $.ajax({
                                url: Routing.generate('admin_roles_management_autocomplete_user', {_locale: locale}),
                                dataType: "json",
                                method: 'POST',
                                data: {
                                    term: request.term
                                },
                                success: function (data) {
                                    if (data != null && data.length > 0) {
                                        response($.map(data, function (item) {
                                            return {
                                                label: item.name,
                                                value: item.name
                                            }
                                        }));
                                    } else {
                                        $('.user-empty-label').show();
                                    }

                                }
                            })
                        }
                    }},
                onChange: function (e) {
                    $('.user-empty-label').hide();
                }
            });
        });
    </script>
{% endblock %}