<div class="row">
    <div class="col-xs-12">
        <p class="center-text-align"><h4 class="center-text-align">{{ 'global.remove_role'|trans() }} <br><br></h4></p>
        <form class="remove-role-user-form" name="role" method="post" action="{{ path('admin_roles_management_remove_role', {'id': user.id}) }}">
            <div class="col-md-4">
                <h4>{{ user.username|capitalize}}</h4>
            </div>
            <div class="form-group col-md-8">
                <select name="roles_management_remove_role" class="form-input" style="color: black; border: 1px solid black;">
                    {% if 'ROLE_ADMIN_REPORT' in user.roles  %}<option value="ROLE_ADMIN_REPORT">ROLE_ADMIN_REPORT</option>{% endif %}
                    {% if 'ROLE_ADMIN_SHOP' in user.roles  %}<option value="ROLE_ADMIN_SHOP">ROLE_ADMIN_SHOP</option>{% endif %}
                    {% if 'ROLE_SUPER_ADMIN' in user.roles  %}<option value="ROLE_SUPER_ADMIN">ROLE_SUPER_ADMIN</option>{% endif %}
                    {% if 'ROLE_MODERATEUR_REPORT' in user.roles  %}<option value="ROLE_MODERATEUR_REPORT">ROLE_MODERATEUR_REPORT</option>{% endif %}
                    {% if 'ROLE_MODERATEUR_SHOP' in user.roles  %}<option value="ROLE_MODERATEUR_SHOP">ROLE_MODERATEUR_SHOP</option>{% endif %}
                    {% if 'ROLE_SUPER_MODERATEUR' in user.roles  %}<option value="ROLE_SUPER_MODERATEUR">ROLE_SUPER_MODERATEUR</option>{% endif %}
                </select>
            </div>
            {{ form_widget(form) }}
        </form>
    </div>
</div>